
.color_link{
    color: #AC50E1;
}
.btn-violeta{
    color: white;
    background-color: #AC50E1;
}
.btn-primary{
    background-color: #AC50E1;
    
}
.banner{
    width: 100%;
}
footer{
background-color:  #AC50E1;
color: white;
}